<script src="/assets/js/jquery.min.js"></script>
<!-- <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script> -->
<!-- <script src="path-to-the-file/splide.min.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
    function renderToast(objectAssign = {}) {
      $.toast({
        text: objectAssign.message ? objectAssign.message : "message",
        icon: objectAssign.icon ? objectAssign.icon : "info",
        loader: true, // Change it to false to disable loader
        loaderBg: "#9EC600", // To change the background
      });
    }
  </script>
  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.min.js"
  integrity="sha512-zlWWyZq71UMApAjih4WkaRpikgY9Bz1oXIW5G0fED4vk14JjGlQ1UmkGM392jEULP8jbNMiwLWdM8Z87Hu88Fw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
</body>
</html>